@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.main-wrapper {
  @apply container max-w-screen-2xl px-4 py-4 lg:px-12 mx-auto;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track (Background) */
::-webkit-scrollbar-track {
  background: rgba(229, 229, 229, 0.4); /* Neutral-200 with transparency */
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgba(115, 115, 115, 0.5); /* Neutral-500 with transparency */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.7); /* Darker Neutral-600 */
}

/* Handle when Clicking */
::-webkit-scrollbar-thumb:active {
  background: rgba(55, 55, 55, 0.9); /* Stronger contrast */
}

/* Scrollbar Corner */
::-webkit-scrollbar-corner {
  background: rgba(229, 229, 229, 0.4);
}

/* Firefox Only - Ensuring WebKit Styles Stay Intact */
@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-width: thin;
    scrollbar-color: rgba(115, 115, 115, 0.5) rgba(229, 229, 229, 0.4);
  }
}

.thin-scrollbar::-webkit-scrollbar {
  width: 2.5px;
  height: 0;
}
